# Fisiere Visual Studio
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.suo
*.idb
*.pdb
*.opendb
*.tlog
*.obj
*.ipch
*.log
*.lastbuildstate
*.cache
*.ilk
*.ncb
*.sdf
*.opensdf
*.targets
*.props

# Foldere Visual Studio
.vs/
Debug/
Release/
x64/
x86/

# Fisiere CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/

# Fisiere Qt Creator
*.pro.user
*.qrc.depends
*.moc/
*.obj/
*.rcc/
*.uic/
*.qmake.stash
*.qmake.cache

# Alte fisiere comune de evitat
*.exe
*.dll
*.out
*.a
*.lib
*.so
*.dylib
*.o
*.swp
*.bak
*.tmp
*.log

# Fisiere generate de sistem
.DS_Store
Thumbs.db
